<div class="progress navbar-right navbar-text" style="width: 50%; margin: 1%">
<div class="progress-bar" style="width: {{ annotation_status.remaining_pct }}%">
    <a href="/annotation/show?status={{Anno.UNDONE}}" style="color:aliceblue">{{ annotation_status.remaining }} {{Anno.UNDONE}}</a>
</div>
<div class="progress-bar progress-bar-warning" style="width: {{ annotation_status.pending_pct }}%">
    <a href="/annotation/show?status={{Anno.PENDING}}" style="color:aliceblue">{{ annotation_status.pending }} {{Anno.PENDING}}</a>
</div>
<div class="progress-bar progress-bar-success" style="width: {{ annotation_status.done_pct }}%">
    <a href="/annotation/show?status={{Anno.DONE}}" style="color:aliceblue">{{ annotation_status.done }} {{Anno.DONE}}</a>
</div>

</div>
<a class="navbar-brand" href="/annotation/logout/"> 登出 </a>