{% extends "layout.html" %}

{% block annotation_progress %}
{% include "annotation_status.html" %}
<a class="navbar-brand" href="/annotation/download/"> 下載標記 </a>
<a class="navbar-brand" href="/annotation/logout/"> 登出 </a>
{% endblock %}

{% block body %}

<div class="container-fluid">
  <h2>標記狀態</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 115pt">最後修改</th>
      <th>內容</th>
      <th>狀態</th>
    </tr>
    </thead>
    <tbody>

    {% for annotation in annotations %}
      <tr>
        <td>{{ annotation.update_time }}</td>
        <td><a href="/annotation?id={{ annotation.entry.id }}">{{ annotation.entry }}</a></td>
        <td>{{ annotation.status }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <ul class="pager">
    {% if entries.has_previous %}
      <li><a href="?page={{ annotations.previous_page_number }}">&larr; Previous</a></li>
    {% endif %}
    <span class="current">Page {{ annotations.number }} of {{ annotations.paginator.num_pages }}.</span>
    {% if annotations.has_next %}
      <li><a href="?page={{ annotations.next_page_number }}">Next &rarr;</a></li>
    {% endif %}
  </ul>
</div>
{% endblock body %}